[Desktop Entry]
Name=iProtect
GenericName=iProtect
Comment=A utility to save your eyes from yourself.
Categories=GTK;Utility;
Exec=i-protect
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=i-protect
X-GNOME-Keywords=eye;protect;iprotect;